		<hr>
		<footer class="footer text-center">
        <p>&copy; Daniel S. 2017</p>
    </footer>
    <script src="jquery/dist/jquery.min.js" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js" crossorigin="anonymous"></script>
  </body>
</html>