<% include ./partials/head %>


<% include ./partials/navbar%>

<!-- Start of the webpage content -->
<div class="text-center">
	<h1>Login</h1>
	<a href="/auth/github">
		<button class="btn btn-primary">Login with Github</button>
	</a>
</div>




<!-- End of the webpage content -->
<% include ./partials/footer %>
