<% include ./partials/head %>


<% include ./partials/navbar%>

<!-- Start of the webpage content -->
<div class="text-center">
	<h1>My Polls</h1>
</div>


<!-- End of the webpage content -->
<% include ./partials/footer %>
